* {
    margin: 0;
}

body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#background {
    position: absolute;
    height: 100%;
    width: 100%;
    margin: auto;
    top: 0;
    left: 0;
    filter: blur(4px);
    z-index: -1;
}

.audio-player {
        background: #fff;
        padding: 10px;
        border-radius: 7px;
        text-align: center;
}

#cover_image {
    border-radius: 7px;
}

#play-pause {
    background: #fff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

#seek-bar {
    width: 100%;
    margin: 10px 0;
}

#next-icon {
    height: 30px;
    width: 30px;
    transform: rotate(180deg);
}

#previous-icon {
    height: 30px;
    width: 30px;

}

.play-pause-img {
    height: 30px;
    width: 30px;
    background-color: #fff;
}